<footer class="footer">
  <ol class="breadcrumb">
    <li>Parrent Page</li>
    <li class="active">Current page</li>
  </ol>
  <small>
    This is a Wikipedia-like app by <a href="http://github.com/qwerty2323">Ivan Shelomentsev</a>
    Please contact me <a href="https://twitter.com/qwerty2323">@Twitter</a>
  </small>
</footer>
