<footer class="footer">
  <small>
    This is a Wikipedia-like app by <a href="http://github.com/qwerty2323">Ivan Shelomentsev</a>
    Please contact me <a href="https://twitter.com/qwerty2323">@Twitter</a>
  </small>
</footer>
